<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="page">
        <form method="POST" class="formLogin">
            <h1>Cadastro</h1>
            <p>Digite os seus dados de cadastro no campo abaixo.</p>
            <label for="email">E-mail</label>
            <input type="email" id="email" placeholder="Digite seu e-mail" autofocus="true" />
            <label for="password">Senha</label>
            <input type="password" id="senha" placeholder="Digite sua senha" />
            <label for="usuario">Escolha o tipo de usuário</label>
            <select id="tipoUsuario">
                <option value="">Selecione</option>
                <option value="locatario">Locatário</option>
                <option value="locador">Locador</option>
            </select>
            <input type="button" id="btnLogar" class="btn" value="Cadastrar"></input>
            <input type="button" onclick="location.href='../views/Inicio.html'" class="btnDefault" value="Voltar"></input>
        </form>
    </div>
</body>
</html>
<script type="text/javascript" defer>
    var script = document.createElement('script');
    script.type = "text/javascript";
    script.src = "https://cdn.jsdelivr.net/npm/sweetalert2@11";
    document.body.appendChild(script);

    var loginButton = document.getElementById("btnLogar");
    var emailInput = document.querySelector("#email");
    var senhaInput = document.querySelector("#senha");
    var tipoUsuarioInput = document.querySelector("#tipoUsuario");

    loginButton.addEventListener("click", function(event){
        //Primeiro, validação do campo email

        var loginValidado = validaLogin(emailInput.value);
        var senhaValidada = validaSenha(senhaInput.value);
        var tipoUsuarioValidado = validaTipoUsuario(tipoUsuarioInput.value);

        if (loginValidado && senhaValidada && tipoUsuarioValidado){
            Swal.fire({
                text: "Sucesso!",
                icon: "success",
                title: "Cadastro efetuado com sucesso."
            }).then((result) => {
                location.href='../views/inicio.html';
            });

            return;
        }
        else if (loginValidado && !senhaValidada){
            Swal.fire({
                text: "Senha inválida!",
                icon: "warning",
                title: "Digite uma senha válida."
            }).then((result) => {
                senhaInput.value = "";
            });

            return;
        }
        else if (loginValidado && senhaValidada && !tipoUsuarioValidado){
            Swal.fire({
                text: "Tipo Usuário inválido!",
                icon: "warning",
                title: "Selecione um usuário válido."
            }).then((result) => {
                tipoUsuarioInput.value = "";
            });

            return;
        }

        Swal.fire({
            text: "Email inválido!",
            icon: "warning",
                title: "Digite um email válido."
            }).then((result) => {
            emailInput.value = "";
        });
        });

        function validaLogin(email){
            if (email == "")
                return false

            let emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z]{2,}$/;

            var teste = emailRegex.test(email);

            return teste;
        };

        function validaSenha(senha){
            if (senha == "")
                return false

            return true;
        }

        function validaTipoUsuario(tipoUsuario){
            if (tipoUsuario == "")
                return false;

            return true;
        }

</script>