<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="page">
        <form method="POST" class="formLogin">
            <h1>Inicio</h1>
            <p>Selecione o seu tipo de usuário</p>
            <input type="button" onclick="location.href='../views/loginLocador.html'" class="btn" value="Sou Cliente"></input>
            <input type="button" onclick="location.href='../views/loginLocatario.html'" class="btn" value="Sou Proprietário"></input>
            <br>
            <input type="button" onclick="location.href='../views/Cadastro.html'" class="btn" value="Cadastrar"></input>
        </form>
    </div>
</body>
</html>