<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de Senha</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="divLogo"><img class="logo" src="../img/AutoRentalLogo.png"></div>

    <div class="page">
        <form method="POST" class="formLogin">
            <h1>Esqueci minha senha</h1>
            <p>Confirme o seu email e digite sua nova senha.</p>
            <label for="email">E-mail</label>
            <input type="email" id="email" placeholder="Digite seu e-mail" autofocus="true" />
            <label for="password">Senha</label>
            <input type="password" id="senha" placeholder="Digite sua senha" />
            <label for="password">Repita sua Senha</label>
            <input type="password" id="senhaRepetida" placeholder="Digite sua senha" />
            <input type="button" id="btnLogar" class="btn" value="Cadastrar"></input>
            <input type="button" onclick="location.href='../views/Inicio.html'" class="btnDefault" value="Voltar"></input>
        </form>
    </div>
</body>
</html>
<script type="text/javascript" defer>
    var script = document.createElement('script');
    script.type = "text/javascript";
    script.src = "https://cdn.jsdelivr.net/npm/sweetalert2@11";
    document.body.appendChild(script);

    var loginButton = document.getElementById("btnLogar");
    var emailInput = document.querySelector("#email");
    var senhaInput = document.querySelector("#senha");
    var senhaRepetidaInput = document.querySelector("#senhaRepetida");

    loginButton.addEventListener("click", function(event){
    //Primeiro, validação do campo email

    var loginValidado = validaLogin(emailInput.value);
    var senhaValidada = validaSenha(senhaInput.value, senhaRepetidaInput.value);

    if (loginValidado && senhaValidada){
        Swal.fire({
            text: "Sucesso!",
            icon: "success",
            title: "Cadastro efetuado com sucesso."
        }).then((result) => {
            location.href='../views/inicio.html';
        });

        return;
    }
    else if (loginValidado && !senhaValidada){
        Swal.fire({
            text: "senha inválida!",
            icon: "warning",
            title: "A senha digitada é inválida ou as duas senhas não são iguais."
        }).then((result) => {
            senha.value = "";
            senhaRepetida.value = "";
        });

        return;
    }

       Swal.fire({
           text: "Email inválido!",
           icon: "warning",
            title: "Digite um email válido."
        }).then((result) => {
           emailInput.value = "";
       });
    });

    function validaLogin(email){
        if (email == "")
            return false

        let emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z]{2,}$/;

        var teste = emailRegex.test(email);

        return teste;
    };

    function validaSenha(senha, senhaRepetida){
        if (senha == "" || senha != senhaRepetida)
            return false

        return true;
    }

</script>