<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/menuLateral.css">
</head>
<body style="background-color: #480ca8;">
    <nav class="menu-lateral">
        <div class="btn-expandir">
            <i class="bi bi-list" id="btnExpandir"></i>
        </div>
        <ul>
            <li class="item-menu">
                <a href="home.html">
                    <span class="icon"><i class="bi bi-house-door"></i></span>
                    <span class="txt-link">Home</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="contato.html">
                    <span class="icon"><i class="bi bi-person-badge"></i></span>
                    <span class="txt-link">Contato</span>
                </a>
            </li>
            <li class="item-menu ativo">
                <a href="telefone.html">
                    <span class="icon"><i class="bi bi-phone"></i></span>
                    <span class="txt-link">Telefone</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="mensagens.html">
                    <span class="icon"><i class="bi bi-chat"></i></span>
                    <span class="txt-link">Mensagens</span>
                </a>
            </li><li class="item-menu">
                <a href="configuracoes.html">
                    <span class="icon"><i class="bi bi-wrench"></i></span>
                    <span class="txt-link">Configurações</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="perfil.html">
                    <span class="icon"><i class="bi bi-person-circle"></i></span>
                    <span class="txt-link">Perfil</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="#" id="logoutLink">
                    <span class="icon"><i class="bi bi-arrow-bar-left"></i></span>
                    <span class="txt-link">Sair</span>
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>
<script type="text/javascript" src="../js/menuLateral.js" defer></script>